{% extends 'base.html' %}

{% block content %}

<div class="blog-form-container">
    <h1>Edit Your Blog</h1>
    <form id="blogForm">
        <div class="form-field">
            <label for="title">Title</label>
            <input type="text" id="title" maxlength="150" required>
        </div>
        <div class="form-field">
            <label for="content">Content</label>
            <textarea id="content" rows="5"></textarea>
        </div>
        <div class="form-field">
            <label for="image">Image</label>
            

            <input type="file" id="image" accept="image/*">

        </div>
        <div class="form-field" id="categoryList">
        </div>
        <div class="blog-actions">
            <button id="updateBtn" onclick="blogUpdate()">수정완료</button>
            <button id="deleteBtn" onclick="blogDelete()" style="background-color:red">삭제하기</button>
        </div>
    </form>
</div>

<script>


$(document).ready(function(){
    pk = window.location.href.split('/').filter(Boolean).pop()
    axiosInstance.get(`/api/blog/viewset/${pk}/`)
    .then(function (response) {
        var blog = response.data;
        document.getElementById('title').value = blog.title;
        document.getElementById('content').value = blog.content;
    })
})


function blogUpdate() {

    var title = document.getElementById('title').value;
    var content = document.getElementById('content').value;

    axiosInstance.patch(`/api/blog/viewset/${pk}/`, {
        title: title,
        content: content,
    })
    .then(response => {
        console.log(response);
        alert("성공적으로 게시글이 수정되었습니다.")
        window.location.href = "/";
    }).catch(error => {
        console.error('Error creating post:', error);
        // 오류 처리 로직
    });
};

function blogDelete() {
    if (!confirm("게시글을 삭제하시겠습니까?")) return; 
    pk = window.location.href.split('/').filter(Boolean).pop()
    axiosInstance.delete(`/api/blog/viewset/${pk}/`)
    .then(response => {
        console.log(response);
        alert("성공적으로 게시글이 삭제되었습니다.")
        window.location.href = "/";
    }).catch(error => {
        console.error('Error creating post:', error);
        // 오류 처리 로직
    });
};

</script>

{% endblock %}